<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Profile</title>
</head>
<body>
    <ul>
        <% for (let i =0; i <= listProfiles.length; i++;) {%>}
        <li>
        <span><%= listProfiles[i].nama %>
        </span> <i>
            
        </i>
        </li>
    </ul>
    
</body>
</html>